<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <!-- 类型别名  -->
    <typeAliases>
    
    	<!-- *****************************系统管理************************************* -->
    	
    	<!-- 用户 -->
    	<typeAlias alias="User" type="com.eatle.persistent.pojo.system.useradmin.User"/>
    	<typeAlias alias="UserCriteria" type="com.eatle.persistent.pojo.system.useradmin.UserCriteria"/>
    	<!-- 角色 -->
    	<typeAlias alias="Role" type="com.eatle.persistent.pojo.system.useradmin.Role"/>
    	<typeAlias alias="RoleCriteria" type="com.eatle.persistent.pojo.system.useradmin.RoleCriteria"/>
    	<!-- 权限 -->
    	<typeAlias alias="Priv" type="com.eatle.persistent.pojo.system.useradmin.Priv"/>
    	<typeAlias alias="PrivCriteria" type="com.eatle.persistent.pojo.system.useradmin.PrivCriteria"/>
    	<!-- 角色权限关联 -->
    	<typeAlias alias="RolePrivilege" type="com.eatle.persistent.pojo.system.useradmin.RolePrivilege"/>
    	<typeAlias alias="RolePrivilegeCriteria" type="com.eatle.persistent.pojo.system.useradmin.RolePrivilegeCriteria"/>
    	
    	<!-- 系统菜单 -->
    	<typeAlias alias="Menu" type="com.eatle.persistent.pojo.system.systemdata.Menu"/>
    	<typeAlias alias="MenuCriteria" type="com.eatle.persistent.pojo.system.systemdata.MenuCriteria"/>
    	<!-- 登陆日志 -->
    	<typeAlias alias="LoginLog" type="com.eatle.persistent.pojo.system.systemdata.LoginLog"/>
    	<typeAlias alias="LoginLogCriteria" type="com.eatle.persistent.pojo.system.systemdata.LoginLogCriteria"/>
    	
    	<!-- 前台导航栏 -->
    	<typeAlias alias="FrontMenu" type="com.eatle.persistent.pojo.system.frontdata.FrontMenu"/>
    	<typeAlias alias="FrontMenuCriteria" type="com.eatle.persistent.pojo.system.frontdata.FrontMenuCriteria"/>
    	<!-- 系统通知 -->
    	<typeAlias alias="SystemNotice" type="com.eatle.persistent.pojo.system.frontdata.SystemNotice"/>
    	<typeAlias alias="SystemNoticeCriteria" type="com.eatle.persistent.pojo.system.frontdata.SystemNoticeCriteria"/>
    	<!-- 前台广告 -->
    	<typeAlias alias="Advert" type="com.eatle.persistent.pojo.system.frontdata.Advert"/>
    	<typeAlias alias="AdvertCriteria" type="com.eatle.persistent.pojo.system.frontdata.AdvertCriteria"/>
    	<!-- 前台广告 位-->
    	<typeAlias alias="AdvertPosition" type="com.eatle.persistent.pojo.system.frontdata.AdvertPosition"/>
    	<typeAlias alias="AdvertPositionCriteria" type="com.eatle.persistent.pojo.system.frontdata.AdvertPositionCriteria"/>
    	<!-- 前台友情链接 -->
    	<typeAlias alias="FriendshipLink" type="com.eatle.persistent.pojo.system.frontdata.FriendshipLink"/>
    	<typeAlias alias="FriendshipLinkCriteria" type="com.eatle.persistent.pojo.system.frontdata.FriendshipLinkCriteria"/>
    	<!-- 前台客服信息 -->
    	<typeAlias alias="ServiceInformation" type="com.eatle.persistent.pojo.system.frontdata.ServiceInformation"/>
    	<typeAlias alias="ServiceInformationCriteria" type="com.eatle.persistent.pojo.system.frontdata.ServiceInformationCriteria"/>
    	
    	
    	<!-- *****************************基础数据************************************* -->
    	
    	<!-- 城市/区域/地段 -->
    	<typeAlias alias="District" type="com.eatle.persistent.pojo.foundation.place.District"/>
    	<typeAlias alias="DistrictCriteria" type="com.eatle.persistent.pojo.foundation.place.DistrictCriteria"/>
    	<!-- 社区/办公楼 -->
    	<typeAlias alias="Community" type="com.eatle.persistent.pojo.foundation.place.Community"/>
    	<typeAlias alias="CommunityCriteria" type="com.eatle.persistent.pojo.foundation.place.CommunityCriteria"/>
    	<!-- 学校 -->
    	<typeAlias alias="School" type="com.eatle.persistent.pojo.foundation.place.School"/>
    	<typeAlias alias="SchoolCriteria" type="com.eatle.persistent.pojo.foundation.place.SchoolCriteria"/>
    	
    	<!-- 加盟信息 -->
    	<typeAlias alias="JoinInformation" type="com.eatle.persistent.pojo.foundation.business.JoinInformation"/>
    	<typeAlias alias="JoinInformationCriteria" type="com.eatle.persistent.pojo.foundation.business.JoinInformationCriteria"/>
    	<!-- 顾客推荐信息 -->
    	<typeAlias alias="RecommendMerchant" type="com.eatle.persistent.pojo.foundation.business.RecommendMerchant"/>
    	<typeAlias alias="RecommendMerchantCriteria" type="com.eatle.persistent.pojo.foundation.business.RecommendMerchantCriteria"/>
    	<!-- 顾客推荐信息 -->
    	<typeAlias alias="Feedback" type="com.eatle.persistent.pojo.foundation.business.Feedback"/>
    	<typeAlias alias="FeedbackCriteria" type="com.eatle.persistent.pojo.foundation.business.FeedbackCriteria"/>
    	
    	<!-- 商店主营类型字典 -->
    	<typeAlias alias="ShopType" type="com.eatle.persistent.pojo.foundation.dictionary.ShopType"/>
    	<typeAlias alias="ShopTypeCriteria" type="com.eatle.persistent.pojo.foundation.dictionary.ShopTypeCriteria"/>
    	<!-- 送餐备注短语字典 -->
    	<typeAlias alias="SendRemark" type="com.eatle.persistent.pojo.foundation.dictionary.SendRemark"/>
    	<typeAlias alias="SendRemarkCriteria" type="com.eatle.persistent.pojo.foundation.dictionary.SendRemarkCriteria"/>
    	<!-- 菜品特性描述字典 -->
    	<typeAlias alias="MenuFeature" type="com.eatle.persistent.pojo.foundation.dictionary.MenuFeature"/>
    	<typeAlias alias="MenuFeatureCriteria" type="com.eatle.persistent.pojo.foundation.dictionary.MenuFeatureCriteria"/>
    	
    	<!-- 库存兑换物品 -->
    	<typeAlias alias="ConvertGoods" type="com.eatle.persistent.pojo.foundation.scoreshop.ConvertGoods"/>
    	<typeAlias alias="ConvertGoodsCriteria" type="com.eatle.persistent.pojo.foundation.scoreshop.ConvertGoodsCriteria"/>
    	<!-- 库存兑换物品 -->
    	<typeAlias alias="ConvertRecords" type="com.eatle.persistent.pojo.foundation.scoreshop.ConvertRecords"/>
    	<typeAlias alias="ConvertRecordsCriteria" type="com.eatle.persistent.pojo.foundation.scoreshop.ConvertRecordsCriteria"/>
    	
    	
    	<!-- *****************************商家管理************************************* -->
    	
    	<!-- 商家 -->
    	<typeAlias alias="Merchant" type="com.eatle.persistent.pojo.merchant.Merchant"/>
    	<typeAlias alias="MerchantCriteria" type="com.eatle.persistent.pojo.merchant.MerchantCriteria"/>
    	<!-- 餐厅 -->
    	<typeAlias alias="Restaurant" type="com.eatle.persistent.pojo.merchant.Restaurant"/>
    	<typeAlias alias="RestaurantCriteria" type="com.eatle.persistent.pojo.merchant.RestaurantCriteria"/>
    	<!-- 学校-餐厅关联 -->
    	<typeAlias alias="SchoolRestaurant" type="com.eatle.persistent.pojo.merchant.SchoolRestaurant"/>
    	<typeAlias alias="SchoolRestaurantCriteria" type="com.eatle.persistent.pojo.merchant.SchoolRestaurantCriteria"/>
    	<!-- 社区/楼宇-餐厅关联 -->
    	<typeAlias alias="CommunityRestaurant" type="com.eatle.persistent.pojo.merchant.CommunityRestaurant"/>
    	<typeAlias alias="CommunityRestaurantCriteria" type="com.eatle.persistent.pojo.merchant.CommunityRestaurantCriteria"/>
    	<!-- 用户商家关联 -->
    	<typeAlias alias="UserMerchant" type="com.eatle.persistent.pojo.merchant.UserMerchant"/>
    	<typeAlias alias="UserMerchantCriteria" type="com.eatle.persistent.pojo.merchant.UserMerchantCriteria"/>
    	
    	
    	<!-- *****************************订单管理************************************* -->
    	
    	<!-- 订单 -->
    	<typeAlias alias="Order" type="com.eatle.persistent.pojo.order.Order"/>
    	<typeAlias alias="OrderCriteria" type="com.eatle.persistent.pojo.order.OrderCriteria"/>
    	<!-- 订单 项-->
    	<typeAlias alias="OrderItem" type="com.eatle.persistent.pojo.order.OrderItem"/>
    	<typeAlias alias="OrderItemCriteria" type="com.eatle.persistent.pojo.order.OrderItemCriteria"/>
    	
    	<!-- *****************************顾客管理************************************* -->
    	
    	<!-- 顾客 -->
    	<typeAlias alias="Customer" type="com.eatle.persistent.pojo.customer.Customer"/>
    	<typeAlias alias="CustomerCriteria" type="com.eatle.persistent.pojo.customer.CustomerCriteria"/>
    	
    </typeAliases>
</configuration>  