<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <!-- 类型别名  -->
    <typeAliases>
    
    	<!-- *****************************系统管理************************************* -->
    	
    	<!-- 用户 -->
    	<typeAlias alias="User" type="com.eatle.persistent.pojo.system.useradmin.User"/>
    	<typeAlias alias="UserCriteria" type="com.eatle.persistent.pojo.system.useradmin.UserCriteria"/>
    	<!-- 角色 -->
    	<typeAlias alias="Role" type="com.eatle.persistent.pojo.system.useradmin.Role"/>
    	<typeAlias alias="RoleCriteria" type="com.eatle.persistent.pojo.system.useradmin.RoleCriteria"/>
    	<!-- 权限 -->
    	<typeAlias alias="Priv" type="com.eatle.persistent.pojo.system.useradmin.Priv"/>
    	<typeAlias alias="PrivCriteria" type="com.eatle.persistent.pojo.system.useradmin.PrivCriteria"/>
    	<!-- 角色权限关联 -->
    	<typeAlias alias="RolePrivilege" type="com.eatle.persistent.pojo.system.useradmin.RolePrivilege"/>
    	<typeAlias alias="RolePrivilegeCriteria" type="com.eatle.persistent.pojo.system.useradmin.RolePrivilegeCriteria"/>
    	<!-- 系统菜单 -->
    	<typeAlias alias="Menu" type="com.eatle.persistent.pojo.system.basedata.Menu"/>
    	<typeAlias alias="MenuCriteria" type="com.eatle.persistent.pojo.system.basedata.MenuCriteria"/>
    	
    	
    	<!-- *****************************基础数据************************************* -->
    	
    	<!-- 城市/区域/地段 -->
    	<typeAlias alias="District" type="com.eatle.persistent.pojo.foundation.place.District"/>
    	<typeAlias alias="DistrictCriteria" type="com.eatle.persistent.pojo.foundation.place.DistrictCriteria"/>
    	<!-- 社区/办公楼 -->
    	<typeAlias alias="Community" type="com.eatle.persistent.pojo.foundation.place.Community"/>
    	<typeAlias alias="CommunityCriteria" type="com.eatle.persistent.pojo.foundation.place.CommunityCriteria"/>
    	<!-- 学校 -->
    	<typeAlias alias="School" type="com.eatle.persistent.pojo.foundation.place.School"/>
    	<typeAlias alias="SchoolCriteria" type="com.eatle.persistent.pojo.foundation.place.SchoolCriteria"/>
    	
    	
    	<!-- *****************************商家管理************************************* -->
    	
    	<!-- 商家 -->
    	<typeAlias alias="Merchant" type="com.eatle.persistent.pojo.merchant.Merchant"/>
    	<typeAlias alias="MerchantCriteria" type="com.eatle.persistent.pojo.merchant.MerchantCriteria"/>
    	<!-- 餐厅 -->
    	<typeAlias alias="Restaurant" type="com.eatle.persistent.pojo.merchant.Restaurant"/>
    	<typeAlias alias="RestaurantCriteria" type="com.eatle.persistent.pojo.merchant.RestaurantCriteria"/>
    	<!-- 学校-餐厅关联 -->
    	<typeAlias alias="SchoolRestaurant" type="com.eatle.persistent.pojo.merchant.SchoolRestaurant"/>
    	<typeAlias alias="SchoolRestaurantCriteria" type="com.eatle.persistent.pojo.merchant.SchoolRestaurantCriteria"/>
    	<!-- 社区/楼宇-餐厅关联 -->
    	<typeAlias alias="CommunityRestaurant" type="com.eatle.persistent.pojo.merchant.CommunityRestaurant"/>
    	<typeAlias alias="CommunityRestaurantCriteria" type="com.eatle.persistent.pojo.merchant.CommunityRestaurantCriteria"/>
    	
    	
    	<!-- *****************************订单管理************************************* -->
    	
    	
    	<!-- *****************************顾客管理************************************* -->
    </typeAliases>
</configuration>    