<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="true">
    
    <!-- 用户类型标识 -->
	<bean id="userTypeStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="管理员"/>
    			<entry key="1" value="个人"/>
    			<entry key="2" value="公司"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="userTypeHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>管理员</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>个人</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>公司</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 身份标识 -->
	<bean id="identityStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="管理员"/>
    			<entry key="1" value="商家"/>
    			<entry key="2" value="顾客"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="identityHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>管理员</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>商家</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>顾客</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 前/后台用户标识 -->
	<bean id="userIdentityStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="1" value="后台商家"/>
    			<entry key="2" value="前台顾客"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="userIdentityHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.1}'>后台商家</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.2}'>前台顾客</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 审核状态 -->
	<bean id="auditStatusStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="待审核"/>
    			<entry key="1" value="已查看"/>
    			<entry key="2" value="已审核"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="auditStatusHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>待审核</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>已查看</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>已审核</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 处理状态 -->
	<bean id="handleStatusStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="待处理"/>
    			<entry key="1" value="已查看"/>
    			<entry key="2" value="已处理"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="handleStatusHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>待处理</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>已查看</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>已处理</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 友情链接是否在首页显示 -->
	<bean id="showFriendLinkStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="是"/>
    			<entry key="1" value="否"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="showFriendLinkHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>是</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>否</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 广告类型标识 -->
	<bean id="advertTypeStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="图片"/>
    			<entry key="1" value="Flash"/>
    			<entry key="2" value="代码"/>
    			<entry key="3" value="文字"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="advertTypeHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>图片</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>Flash</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>代码</font>]]></value></entry>
    			<entry><key><value>3</value></key><value><![CDATA[<font color='${color.level.4}'>文字</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 广告状态标识 -->
	<bean id="advertEnabledStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="开启"/>
    			<entry key="1" value="关闭"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="advertEnabledHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>开启</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>关闭</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 订单状态标识 -->
	<bean id="orderStatusStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="待确认"/>
    			<entry key="1" value="已确认"/>
    			<entry key="2" value="正在派送"/>
    			<entry key="3" value="派送成功"/>
    			<entry key="4" value="派送失败"/>
    			<entry key="5" value="已取消"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="orderStatusHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>待确认</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>已确认</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>正在派送</font>]]></value></entry>
    			<entry><key><value>3</value></key><value><![CDATA[<font color='${color.level.4}'>派送成功</font>]]></value></entry>
    			<entry><key><value>4</value></key><value><![CDATA[<font color='${color.level.5}'>派送失败</font>]]></value></entry>
    			<entry><key><value>5</value></key><value><![CDATA[<font color='${color.level.6}'>已取消</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
 	
 	<!-- 送餐通知类型标识 -->
	<bean id="notifyTypeStr" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry key="0" value="不通知"/>
    			<entry key="1" value="短信"/>
    			<entry key="2" value="电话"/>
   			</map>
  		</constructor-arg>
 	</bean>
	<bean id="notifyTypeHtml" class="java.util.LinkedHashMap">
  		<constructor-arg>
   			<map>
    			<entry><key><value>0</value></key><value><![CDATA[<font color='${color.level.1}'>不通知</font>]]></value></entry>
    			<entry><key><value>1</value></key><value><![CDATA[<font color='${color.level.2}'>短信</font>]]></value></entry>
    			<entry><key><value>2</value></key><value><![CDATA[<font color='${color.level.3}'>电话</font>]]></value></entry>
   			</map>
  		</constructor-arg>
 	</bean>
</beans>
