<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
    <!-- 类型别名  -->
    <typeAliases>
    
    	<!-- *****************************系统管理************************************* -->
    	
    	<!-- 用户 -->
    	<typeAlias alias="User" type="com.eatle.persistent.pojo.system.useradmin.User"/>
    	<typeAlias alias="UserCriteria" type="com.eatle.persistent.pojo.system.useradmin.UserCriteria"/>
    	<!-- 角色 -->
    	<typeAlias alias="Role" type="com.eatle.persistent.pojo.system.useradmin.Role"/>
    	<typeAlias alias="RoleCriteria" type="com.eatle.persistent.pojo.system.useradmin.RoleCriteria"/>
    	<!-- 权限 -->
    	<typeAlias alias="Priv" type="com.eatle.persistent.pojo.system.useradmin.Priv"/>
    	<typeAlias alias="PrivCriteria" type="com.eatle.persistent.pojo.system.useradmin.PrivCriteria"/>
    	<!-- 角色权限关联 -->
    	<typeAlias alias="RolePrivilege" type="com.eatle.persistent.pojo.system.useradmin.RolePrivilege"/>
    	<typeAlias alias="RolePrivilegeCriteria" type="com.eatle.persistent.pojo.system.useradmin.RolePrivilegeCriteria"/>
    	<!-- 系统菜单 -->
    	<typeAlias alias="Menu" type="com.eatle.persistent.pojo.system.basedata.Menu"/>
    	<typeAlias alias="MenuCriteria" type="com.eatle.persistent.pojo.system.basedata.MenuCriteria"/>
    	
    	
    	<!-- *****************************业务数据************************************* -->
    	
    	<!-- 城市/区域/地段 -->
    	<typeAlias alias="Distinct" type="com.eatle.persistent.pojo.business.distcommmgr.Distinct"/>
    	<typeAlias alias="DistinctCriteria" type="com.eatle.persistent.pojo.business.distcommmgr.DistinctCriteria"/>
    </typeAliases>
</configuration>    