<div class="footer">
    <p class="firenf_link">
        <span><strong>友情链接:</strong> 
			<span><a href="http://kaichiba.com" target="_blank">外卖</a></span>
			<span><a href="http://beihai.kuyiso.com/" target="_blank">北海分类信息</a></span>
		</span>
    </p>
    <p  style="margin: 0 auto">
   <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2292841598&site=开吃吧订餐网&menu=yes">友链交换QQ：2292841598</a>
       </p>
    <p>
        <a href="about/fAbout.aspx" rel="nofollow">关于我们</a> |<a href=" about/fContact.aspx"
            rel="nofollow">联系我们</a> |<a href=" about/fRecruit.aspx" rel="nofollow">招贤纳士</a>
        |<a href="about/join.aspx" rel="nofollow">餐厅加盟</a> |<a href="about/fPrivacy.aspx"
            rel="nofollow">隐私安全</a> |<a href="about/fAgreement.aspx" rel="nofollow">服务协议</a>
        |<a href="about/new.aspx" rel="nofollow">新手上路</a> |<a href="about/flink.aspx" rel="nofollow">友情链接</a>
        |<a href="about/fHelp.aspx" rel="nofollow">帮助</a> |<a href="../admin/index.htm" target="_blank" rel="nofollow">后台登录</a>
    </p>

    <p class="last">
        Copyright @2012 开吃吧 All Rights Reserved 京ICP备12015678号 | 京公网安备110114001132号</p>
</div>