<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eatle.persistent.mapper.CommunityRestaurantMapper" >
  <resultMap id="BaseResultMap" type="CommunityRestaurant" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="community_id" property="communityId" jdbcType="BIGINT" />
    <result column="restaurant_id" property="restaurantId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, community_id, restaurant_id
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="CommunityRestaurantCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_community_restaurant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pageSize > 0" >
      limit ${startIndex},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_community_restaurant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_community_restaurant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="CommunityRestaurant" >
    insert into t_community_restaurant (id, community_id, restaurant_id
      )
    values (#{id,jdbcType=BIGINT}, #{communityId,jdbcType=BIGINT}, #{restaurantId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="CommunityRestaurant" >
    insert into t_community_restaurant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="restaurantId != null" >
        restaurant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=BIGINT},
      </if>
      <if test="restaurantId != null" >
        #{restaurantId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="CommunityRestaurant" >
    update t_community_restaurant
    <set >
      <if test="communityId != null" >
        community_id = #{communityId,jdbcType=BIGINT},
      </if>
      <if test="restaurantId != null" >
        restaurant_id = #{restaurantId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="CommunityRestaurant" >
    update t_community_restaurant
    set community_id = #{communityId,jdbcType=BIGINT},
      restaurant_id = #{restaurantId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCountByCriteria" resultType="long" parameterType="CommunityRestaurantCriteria" >
    select count(1) 
    from t_community_restaurant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="Map" >
    select * from t_community_restaurant
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="communityId != null" >
        and community_id = #{communityId,jdbcType=BIGINT}
      </if>
      <if test="restaurantId != null" >
        and restaurant_id = #{restaurantId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  
  
  <sql id="selectSendCommunitiesCondition">
  	from 
  		t_community_restaurant a, 
  		t_community b, 
  		t_district c
  	where 
  		a.restaurant_id = #{restaurantId,jdbcType=BIGINT} 
  	and 
  		a.community_id = b.id 
  	and 
  		b.district_id = c.id 
    <if test="communityName != null" >
  		and b.name like '%${communityName}%' 
  	</if>
    <if test="pinyinName != null" >
  		and b.pinyin_name like '%${pinyinName}%' 
  	</if>
    <if test="districtName != null" >
  		and c.name like '%${districtName}%' 
  	</if>
  	limit 
  		#{startIndex,jdbcType=SMALLINT}, #{pageSize,jdbcType=SMALLINT}
  </sql>
  
  <select id="selectSendCommunitiesByRestaurantId" parameterType="Map" resultMap="com.eatle.persistent.mapper.CommunityMapper.BaseResultMap">
  	select 
  		b.id, b.name, b.pinyin_name, b.hot, b.district_id, c.name districtName 
  	<include refid="selectSendCommunitiesCondition"/>
  </select>
  
  <select id="selectSendCommunitiesCountByRestaurantId" parameterType="Map" resultType="long">
  	select 
  		count(1) 
  	<include refid="selectSendCommunitiesCondition"/>
  </select>
</mapper>