<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eatle.persistent.mapper.FriendshipLinkMapper" >
  <resultMap id="BaseResultMap" type="FriendshipLink" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="sort_order" property="sortOrder" jdbcType="SMALLINT" />
    <result column="is_display" property="isDisplay" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, link_name, link_url, logo_url, sort_order, is_display
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="FriendshipLinkCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_friendship_link
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pageSize > 0" >
      limit ${startIndex},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_friendship_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_friendship_link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="FriendshipLink" >
    insert into t_friendship_link (id, link_name, link_url, 
      logo_url, sort_order, is_display
      )
    values (#{id,jdbcType=BIGINT}, #{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{logoUrl,jdbcType=VARCHAR}, #{sortOrder,jdbcType=SMALLINT}, #{isDisplay,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="FriendshipLink" >
    insert into t_friendship_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="logoUrl != null" >
        logo_url,
      </if>
      <if test="sortOrder != null" >
        sort_order,
      </if>
      <if test="isDisplay != null" >
        is_display,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="FriendshipLink" >
    update t_friendship_link
    <set >
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null" >
        sort_order = #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="isDisplay != null" >
        is_display = #{isDisplay,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="FriendshipLink" >
    update t_friendship_link
    set link_name = #{linkName,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      is_display = #{isDisplay,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCountByCriteria" resultType="long" parameterType="FriendshipLinkCriteria" >
    select count(1) 
    from t_friendship_link
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="Map" >
    select * from t_friendship_link
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="linkName != null" >
        and link_name = #{linkName,jdbcType=VARCHAR}
      </if>
      <if test="linkUrl != null" >
        and link_url = #{linkUrl,jdbcType=VARCHAR}
      </if>
      <if test="logoUrl != null" >
        and logo_url = #{logoUrl,jdbcType=VARCHAR}
      </if>
      <if test="sortOrder != null" >
        and sort_order = #{sortOrder,jdbcType=SMALLINT}
      </if>
      <if test="isDisplay != null" >
        and is_display = #{isDisplay,jdbcType=SMALLINT}
      </if>
    </where>
  </select>
</mapper>