<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eatle.persistent.mapper.UserMerchantMapper" >
  <resultMap id="BaseResultMap" type="UserMerchant" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
    <result column="manage_restaurant_list" property="manageRestaurantList" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, merchant_id, manage_restaurant_list
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="UserMerchantCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_user_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pageSize > 0" >
      limit ${startIndex},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_merchant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_merchant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="UserMerchant" >
    insert into t_user_merchant (id, user_id, merchant_id, 
      manage_restaurant_list)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{merchantId,jdbcType=BIGINT}, 
      #{manageRestaurantList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="UserMerchant" >
    insert into t_user_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="manageRestaurantList != null" >
        manage_restaurant_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="manageRestaurantList != null" >
        #{manageRestaurantList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="UserMerchant" >
    update t_user_merchant
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="manageRestaurantList != null" >
        manage_restaurant_list = #{manageRestaurantList,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="UserMerchant" >
    update t_user_merchant
    set user_id = #{userId,jdbcType=BIGINT},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      manage_restaurant_list = #{manageRestaurantList,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCountByCriteria" resultType="long" parameterType="UserMerchantCriteria" >
    select count(1) 
    from t_user_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="Map" >
    select * from t_user_merchant
    <where >
      <if test="id != null" >
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="merchantId != null" >
        and merchant_id = #{merchantId,jdbcType=BIGINT}
      </if>
      <if test="manageRestaurantList != null" >
        and manage_restaurant_list = #{manageRestaurantList,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>