@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:Arial, sans-serif;}

ul, ol { list-style:none;}
img { border:0;}

#login { display:block; width:950px; margin:0 auto; text-align:left;}
.login_info { float:left; margin-left:10px; line-height:80px; font-size:18px; color:#0088cc; font-weight: bold;}

#login_content { display:block; position:relative;}
.loginForm {
	background:url(../image/login_form_bg.jpg) no-repeat; cursor:pointer;
	display:block;
	position:absolute;
	padding-left:20px;
	padding-top:10px;
	left:380px;
	top: 239px;
	width: 350px;
	height: 200px;
}
.loginForm p { margin:15px 0;}
.loginForm label { float:left; width:75px; line-height:25px; color:#14A3F1; font-size:16px;}
.loginForm input { padding-left: 3px; height:20px; background-color: #DFF1FF; border: 0px solid #14A3F1; font-size: 18px; color: #4AB8F3; }
.loginForm .login_input {width: 160px;}
.loginForm .code { float:left; margin-right:5px;  width: 80px;}
.login_bar { padding-left:50px;}
.login_bar .sub { width:75px; height:27px; margin-right: 10px; margin-top: 6px; border:none; cursor:pointer; background-color: #B6E4FB; background-image: url(../image/login_btn_bg1.jpg); background-repeat: no-repeat; }
.login_bar .reset { width:75px; height:27px; margin-left: 10px; margin-top: 6px; border:none; cursor:pointer; background-color: #B6E4FB; background-image: url(../image/reset_btn_bg1.jpg); background-repeat: no-repeat; }

.login_banner { display:block; height:270px;}

.login_inner p { margin:10px 0; line-height:150%; font-size:14px; color:#666;}

#login_footer { width:100%; clear:both; display:block; padding:10px; border-top:solid 1px #e2e5e8; color:#666; text-align:center;}
