<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  	<display-name>eatle</display-name>
  	<session-config>
  		<session-timeout>30</session-timeout>
  	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
<!-- 
	<error-page>
		<error-code>500</error-code>
		<location>/404.jsp</location>
	</error-page>
-->

	<!-- Log File Path -->
  	<context-param>
		<param-name>log.path</param-name>
		<param-value>d:/c8j/logs</param-value>
	</context-param>
	
	<!-- Spring Configuration File Path -->
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring-*.xml</param-value>
	</context-param>
	
	<!-- define by myself -->
	<listener>
		<listener-class>com.eatle.web.listener.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.eatle.web.listener.SessionAttributeListener</listener-class>
	</listener>
	
	<!-- spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
  	<!-- struts2-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!-- servlet
	<servlet>
    	<servlet-name>velocity</servlet-name>
    	<servlet-class>org.apache.velocity.tools.view.VelocityLayoutServlet</servlet-class>
    	<init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/conf/velocity-toolbox.xml</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/conf/velocity.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
    	<servlet-name>velocity</servlet-name>
    	<url-pattern>*.vm</url-pattern>
    </servlet-mapping>
	 -->

	<welcome-file-list>
	  	<welcome-file>index.jsp</welcome-file>
	  	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
</web-app>